<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ProductDBEntities" connectionString="metadata=res://*/Model.EmpolyeeDB.csdl|res://*/Model.EmpolyeeDB.ssdl|res://*/Model.EmpolyeeDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-9N6VPIL;initial catalog=ProductDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>